**What Is a Series?**
<br> A Series is like a single column of data.

In [1]:
import pandas as pd
sales = pd.Series([1000, 1200, 1150, 1400])
print(sales)

0    1000
1    1200
2    1150
3    1400
dtype: int64

**What Is a DataFrame?**
<br> A DataFrame is like a full table with rows and columns.

In [2]:
data = {
    "Month": ["Jan", "Feb", "Mar"],
    "Sales": [1000, 1200, 1100]
}
df = pd.DataFrame(data)
print(df)

  Month  Sales
0   Jan   1000
1   Feb   1200
2   Mar   1100

**Accessing DataFrames**
<br> You can easily view specific parts of your DataFrame:

In [3]:
print(df["Sales"])      # Access a column
print(df.head(2))       # View first 2 rows
print(df.tail(1))       # View last row

0    1000
1    1200
2    1100
Name: Sales, dtype: int64
  Month  Sales
0   Jan   1000
1   Feb   1200
  Month  Sales
2   Mar   1100

**Accessing and Modifying DataFrames**
<br> Using loc (label-based)

In [4]:
print(df.loc[0])  # Row with index 0
print(df.loc[0, "Sales"])  # Sales value in row 0

Month     Jan
Sales    1000
Name: 0, dtype: object
1000

Using iloc (position-based)

In [5]:
print(df.iloc[1])  # 2nd row (position 1)
print(df.iloc[1, 1])  # 2nd row, 2nd column

Month     Feb
Sales    1200
Name: 1, dtype: object
1200

**Pandas Functions: Powerful Shortcuts**

In [6]:
print(df.describe())   # Summary stats
print(df["Sales"].mean())  # Average sales
print(df["Sales"].max())   # Max value
print(df["Sales"].sum())   # Total sales

        Sales
count     3.0
mean   1100.0
std     100.0
min    1000.0
25%    1050.0
50%    1100.0
75%    1150.0
max    1200.0
1100.0
1200
3300