These are called cells.  There are 2 types of cells: code and text. We can add more cells by clicking the + buttons above!

In a code cell you can type some code and then you execute the code by pressing Shift + Enter

In a text cell you can also format text!
# Chapter 1!
Sub text here!

## Sub-Header

### Sub-Sub-Header

In [ ]:
2+2

In [ ]:
2+2
4+4

In [ ]:
print(2+2)
print(4+4)

In [ ]:
print('hello world!')

In [ ]:
print('hello world',2+2,'this is python')

In [ ]:
print('hello world',2+2,'this is python',sep='')

In [ ]:
# everything to the right of a # is not run as code, this is called a comment!
2+2 # this is adding two plus two

In [ ]:
# we can add strings together!
print('hello'+'world')

In [ ]:
print('hello ' + ' world')

In [ ]:
print('hello'+5)

A mobile store MobiWorld sells different mobile phones to customers. For each order that is placed, the store keeps a record of various attributes related to the mobile, like Price, Brand, RAM (GB), and Internal Storage (GB).

Let's learn Python using the context of the store's data.

## Intro to Variables

First, we have to store our data to a variable that can be used to extract the stored information later. Let's take an example of how we can do that in Python.

Q. Suppose the store sold an Apple iPhone (4GB, 128GB) for $900. Store this information in the variables **price**, **brand**, **ram**, and **storage**.

In [1]:
# store the price (in dollars) of the mobile in variable 'price'
price = 900
# print the value saved in the variable 'price'
print('The price of the mobile is $',price,sep='')

The price of the mobile is $900

In [ ]:
# store the brand name of the mobile in variable 'brand'.
brand = 'Apple'
# print the value saved in the variable 'brand'
print('The brand of the mobile is',brand)

In [ ]:
# store the RAM (in GB) of the mobile in variable 'ram'.
ram = 4
# print the value saved in the variable 'ram'
print('The RAM of the mobile is', ram,'GB')

In [ ]:
# store the internal storage (in GB) of the mobile in variable 'storage'.
storage = 128
# print the value saved in the variable 'Memory'
print('The internal storage of the mobile is', storage, 'GB')

Q. Let's say the store wants to save the information on the billing status of the above phone in a boolean variable. Write the code in Python to implement the same.

In [ ]:
# a special type of variable stores just True/False values.  This is called a boolean variable.
# create a boolean variable 'is_billed' to save the billing information
is_billed = True
print(is_billed)

The value that we store in a variable can be a number or a set of characters or a boolean variable (True/False). For example, a price is a number while the brand name is a set of characters which is also known as a string in python. Whenever we store a value in a variable, Python automatically assigns a data type to that variable based on the value. It also allows us to check the data type of the variable.

Q. Check the data type of the variables **price**, **brand**, **ram**, and **storage**

In [ ]:
# check the data-type using the type function
type(price)

In [ ]:
# check the data-type using the type function
type(brand)

In [ ]:
# check the data-type using the type function
type(ram)

In [ ]:
# check the data-type using the type function
type(storage)

In [ ]:
# check the data-type using the type function
type(is_billed)

Q. Let's say a customer buys two Apple iPhones (4GB, 128GB) at a price of $900 each. What will be the total bill that the customer has to pay?

In [ ]:
# calcuate the total bill and store it in variable 'bill'
bill = price + price
# the same result can be achieved by multiplication.
bill = price*2
print('The bill amount is $',bill,sep='')

Q. Let's say the store provides a discount of \$15 dollars on the Apple iPhone (4GB, 128GB) that costs $900. What will be the price of the iPhone after the discount?

In [ ]:
# store the price (in dollars) of the mobile in variable 'price'
price = 900
# store the discount amount in variable 'discount'
discount = 15
# calculate the discounted price
price_after_discount = price - discount
print('The price of the iPhone after the discount is $',price_after_discount,sep='')

Q. Let's say a customer buys two Apple iPhones (4GB, 128GB) and pays a total bill of \$1800. Write the Python code to find the price of an Apple iPhone.

In [ ]:
# store the bill (in dollars) of the two mobiles in variable 'bill'
bill = 1800
# calculate the price of one mobile
price = bill / 2
print('The price of an Apple iPhone is $',price,sep='')

Q. Let's say a customer buys x numbers of Apple iPhones (4GB, 128GB) for $900 each. The total bill that the customer pays is \$3600. Write the Python code to find the value of x.

In [ ]:
# store the bill (in dollars) of the mobile in variable 'bill'
bill = 3600
# store the price (in dollars) of the mobile in variable 'price'
price = 900
# calculate the number of iPhones that the customer buys
x = bill // price
# double divided forces the answer to be an integer!
print('The customer buys', x, 'Apple iPhones')

## Data Structures

**MobiWorld store has provided a snapshot of the details of mobile phones sold by them.**

| Brand | RAM (in GB) | Memory (in GB) | Price (in dollars) |
| --- | --- | --- | --- |
| Apple | 4 | 128 | 900 |
| Samsung | 12 | 128 | 899 |
| LG | 8 | 64 | 600 |
| Apple | 8 | 128 | 1000 |

We know how to create a variable to store the brand name.

In [ ]:
Brand = 'Apple'
print(Brand)

#### List

Let's create a variable that will store all the brand names given in the above table. This can be achieved using the 'list' data struture in Python.

Lists are used to store the data items inside square brackets [] where each data item is separated by a comma (,)

In [4]:
# create a list
brand_list = ['Apple', 'Samsung', 'LG', 'Apple']
brand_list

['Apple', 'Samsung', 'LG', 'Apple']

In [ ]:
# check the type of the variable 'brand_list'
type(brand_list)

Let's create lists for other attributes as well.

In [ ]:
ram_list = [4, 12, 8, 8]
storage_list = [128, 128, 64, 128]
price_list = [900, 899, 600, 1000]

In [ ]:
# let's print the lists we created
print('RAM List:', ram_list)
print('Storage List:', storage_list)
print('Price List:', price_list)

Now, we have created lists for all attributes with the provided data. There are various operations that can be performed on lists to extract information from the data. Let's understand a few important methods by answering some questions.

Q. How many records are stored in the list brand_list?



* len() is an in-built function in Python that provides the count of elements inside a list. In-built functions are functions that are already defined in the Python framework to perform a task.

In [ ]:
len(brand_list)

We have 4 records

Q. Find the minimum and maximum price among the mobile phones sold by the store.

* min() and max() are in-built functions in Python that calculates the minimum and maximum values among the items in a list (or some other data types).

In [ ]:
# minimum price
min_price = min(price_list)
print('The minimum price is $' + str(min_price))
# maximum price
max_price = max(price_list)
print('The maximum price is $' + str(max_price))

* The minimum and maximum prices are \$600 and $1000 respectively.

As a list may contain a large number of items in it, there should be a way to access the item that we want. This is achieved by indexing the list to access the required item.

Q. Print the third item in the list ram_list.

* Indexing in list is done by specifying the index inside square brackets. In python, indexing starts with 0. That is, the first item has the index 0, the second has the index 1 and so on.

In [ ]:
# indexing to get the third item in ram_list
print(ram_list[2])

Q. Print the first three items from the list price_list.

* We can also select a range of indices to access more than 1 item. This can be done by using a colon (:) between the start and stop index

In [ ]:
# first three items in price_list
print(price_list[0:3])

Notice that in such an indexing, the output includes the item at the start index (index 0) but excludes the item at the stop index (index 3). The index [0:3] has included the items at indices 0, 1 and 2

Q. Print the last item in the list brand_list.

* The last item can also be accessed using its index. But, if the list is too large, counting the index for the last item may not be the best way. Here's how the last item can be accessed for any list.

In [ ]:
# last item in brand_list
print(brand_list[-1])

The Store finds out that for the last record in the data, the brand name provided was not correct.

Q. Remove the last element from the list brand_list.

* pop() is a list method that removes the item at the given index and returns the removed item . If the index is not specified, by default, it removes the last element. To confirm we can check the list again.

In [ ]:
brand_list.pop()

In [ ]:
brand_list

As we can see the last element got removed. Now, the Store informs that the correct brand name should be "Motorola'.

Q. Insert 'Motorola' to the list brand_list

* The append() method adds a single item to an existing list.

In [ ]:
brand_list.append('Motorola')
brand_list

In [ ]:
brand_list[3] = 'Apple'
print(brand_list)

In [ ]:
brand_list[3] = 'Motorola'
brand_list

We have succesfully corrected the list now.

### Dictionary

Lists are great for storing data for a single attribute. But, we might want to add more information about the items in a variable. Suppose the store wants to store the attributes **brand, ram, storage,** and **price** in a single variable.

Q. Store the attributes of an Apple iPhone (4GB, 128GB) of price of $800 in a single variable.

In [2]:
# creating a dictionary
attributes = {
    'Brand':'Apple',
    'RAM (in GB)':4,
    'Storage (in GB)':128,
    'Price (in $)':800
    }
print(attributes)

{'Brand': 'Apple', 'RAM (in GB)': 4, 'Storage (in GB)': 128, 'Price (in $)': 800}

In [3]:
type(attributes)

dict

* The above data structure is called a dictionary. Dictionaries are used to store data values in key:value pairs. Dictionaries are written with curly brackets, and have keys and values

Q. Extract the price from the dictionary attributes.

In [ ]:
# extract information from dictionary
print(attributes['Price (in $)'])

* For the above pair, 'Price (in $)' is the key and 800 is the value.

Dictionary items are ordered, changeable, and does not allow duplicates.

Q. Change the price in attributes to 900

In [ ]:
attributes['Price (in $)'] = 900
print(attributes)

Now, that you have learned how to create a dictionary, let's store data for multiple mobile phones in it. The values in a dictionary can also be a list to store information for more than one product.

Q. Create a dictionary **products** for storing the attributes of 4 different mobile phones.

In [ ]:
# creating a dictionary for storing data.
products = {
    'Brand':brand_list,
    'RAM (in GB)':ram_list,
    'Storage (in GB)':storage_list,
    'Price (in $)':price_list
    }
print(products)

Using a dictionary, we have stored a lot of information in a single variable.

Q. Extract the keys and values from the dictionary **products**

* keys() and values() are methods of a dictionary to extract the lists of dictionary keys and dictionary values respectively.

In [ ]:
# keys of a dictionary
keys = products.keys()
print('The keys of the dictionary are :\n',keys)
# values of a dictionary
values = products.values()
print('The values of the dictionary are :\n', values)

In [ ]:
products['RAM (in GB)'][1]

## Conditional Statements

Suppose a customer is planning to buy a mobile phone but has a limited budget. Thus, his decision to buy is based on the condition that the price comes under his budget. Let's say his budget is $600.

Q. Write a code in Python that prints whether the customer can buy the iPhone or not based on his budget.

Sometimes we want to execute a block of code based on a particular condition.
In these types of situations, we write conditional statements.

The if-else statement in Python can be used for decision-making. The general syntax of an if-else statement is:

```
if (test expression):
    Body of if
else:
    Body of else
```

Python is a tabbed based language, so we need to be VERY careful about tabs!!!

In [ ]:
# define the budget price
budget = int(input('Enter your budget(in dollars): '))

# if-else statement
if price <= budget:
  print('Congrats! You can buy the Iphone')
else:
  print('Sorry! The mobile price is more than your budget')

If there are multiple conditions, we may use another conditional statement called if-elif-else statement. The general syntax of the if-elif-else statement is:

```
if (test expression):
    Body of if
elif (test expression):
    Body of elif
else:
    Body of else
```

Q. Suppose the price of the 32 GB, 64 GB, and 128 GB iPhones are \$600, \$700, and \$900 respectively. Write a conditional statement to print the price based on the internal storage of the phone.

In [ ]:
Memory = int(input('Enter the memory: '))

if Memory == 32:
  print('The price of the phone is $600')
elif Memory == 64:
  print('The price of the phone is $700')
elif Memory ==128:
  print('The price of the phone is $900')
else:
  print('Please enter a valid memory requirement')

## Looping Statements




Suppose the store wants to check the price of the Apple iPhone (4GB, 128GB) after providing 5%, 10%, 15%, and 20% discounts respectively. Instead of calculating the discounted prices multiple times, looping statements can be used to achieve this.

Q. Write a code in Python that prints the discounted price for each of the above-mentioned discounts.

Before jumping into the concept of looping, let's have a look at the range() function in Python.

The range() method returns an immutable sequence of numbers between the given start integer to the stop integer.

In [6]:
print(range(6))

range(0, 6)

In [7]:
print(list(range(6)))

[0, 1, 2, 3, 4, 5]

In [8]:
print(list(range(2,6)))

[2, 3, 4, 5]

In [9]:
print(list(range(6, 14, 2)))

[6, 8, 10, 12]

Loops are used in Python to iterate over a sequence.

The syntax of the 'for loop' is:

```
for iterator_var in sequence:
    statements(s)
```

In [ ]:
# store the price (in dollars) of the mobile in variable 'Price'.
price = 900
# start the for loop
for i in range(5, 21, 5):
  # calculate the discount amount
  discount = price * (i / 100)
  # calculate the discounted price
  discounted_price = price - discount
  # print the discounted price
  print('The price after providing ', i, ' percent discount is $', discounted_price,sep='')

## Functions in Python

**What is a Function in Python?**

In Python, a function is a block of instructions that performs a specific task.

We have already seen a few functions in python.  min and max were functions that found the minimum and maximum numbers in a list!

In Python, we can also define our own functions! We don't have to rely on the ones that are already there.

Functions break the program into modular chunks which can be reused later. Functions are used to make the program more organized and manageable.


**Syntax of a function**

Functions that users define themselves to a particular task are referred to as user-defined functions.

```
def function_name(parameters):
	'''explain what a function does'''
	statement(s)
```

Let's say the store wants to market the Apple iPhone by displaying its attributes to each customer.

Q. Write a function in Python that displays the attributes of the Apple iPhone.

In [ ]:
# write the function
def display_iphone_attributes():
    """
    This function displays
    the stored attributes of
    the Apple iPhone
    """
    # store the price (in dollars) of the mobile in variable 'price'
    price = 900
    # store the RAM (in GB) of the mobile in variable 'ram'.
    ram = 4
    # store the internal storage (in GB) of the mobile in variable 'storage'.
    storage = 128
    # display the details
    print('The Apple iPhone has ', ram, ' GB RAM and ', storage, ' GB internal storage and it costs $', price, sep='')

**How to call a function in python?**

Once the function is defined, we can simply call the function by writing the function name with appropriate parameters. The function definition must always be written before the function call. Else, we will get an error.

In [ ]:
# call the function
display_iphone_attributes()

**How to write a Python function with arguments?**

In Python, you can also define a function that takes a variable number of arguments. Let's try an example!

Q. Write a function in Python that displays the attributes of a phone.

In [ ]:
# write the function
def display_phone_attributes(brand, price, ram, storage):
    """
    This function displays
    the stored attributes of
    any phone
    """
    # display the details
    print('The ', brand, ' phone has ', ram, ' GB RAM and ', storage,' GB internal storage and it costs $',price,sep='')

In [ ]:
# call the function
display_phone_attributes('samsung', 899, 12, 128)

Since we have called the function with the appropriate number of arguments, it runs smoothly without any error. The interpreter will show an error message in case we call it with a different number of arguments.

Let's try calling the function with 3 arguments.

In [ ]:
# call the function with 3 arguments
display_phone_attributes('samsung', 899, 12)

In [10]:
sum = 0
for number in range(1,5):
    sum = sum + number
print('The sum of the first 4 numbers is', sum)

The sum of the first 4 numbers is 10

***

In [11]:
# contrast using a list versus a tuple
# create a list
my_list = [1, 2, 3, 4]
# create a tuple
my_tuple = (1, 2, 3, 4)
# print the list
print('List:', my_list)
# print the tuple
print('Tuple:', my_tuple)
# check the type of the list
print('Type of my_list:', type(my_list))
# check the type of the tuple
print('Type of my_tuple:', type(my_tuple))
# try to change the first item in the list
my_list[0] = 10
# print the modified list
print('Modified List:', my_list)
# try to change the first item in the tuple
try:
    my_tuple[0] = 10
except TypeError as e:
    print('Error:', e)
# print the original tuple
print('Original Tuple:', my_tuple)
# create a set
my_set = {1, 2, 3, 4}
# print the set
print('Set:', my_set)
# check the type of the set
print('Type of my_set:', type(my_set))
# try to change the first item in the set
try:
    my_set[0] = 10
except TypeError as e:
    print('Error:', e)
# print the original set
print('Original Set:', my_set)

List: [1, 2, 3, 4]
Tuple: (1, 2, 3, 4)
Type of my_list: <class 'list'>
Type of my_tuple: <class 'tuple'>
Modified List: [10, 2, 3, 4]
Error: 'tuple' object does not support item assignment
Original Tuple: (1, 2, 3, 4)
Set: {1, 2, 3, 4}
Type of my_set: <class 'set'>
Error: 'set' object does not support item assignment
Original Set: {1, 2, 3, 4}